.App {
  text-align: center;
  background-color: #fff;
}

.App-header {
  display: flex;
  background-color: rgba(245, 240, 240, 0.308);
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  font-size: calc(1.3vmin);
  color:#282c34;
  padding: 7px;
  /* box-shadow: 0 10px 10px -10px #000000; */
  box-shadow: 0px 10px 10px -10px #000;
  position: relative;
  z-index: 1;
}

.App-header > div:nth-child(1) {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.App-header> div > .logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.App > .Banner {
  background-image: url(../../Img/Banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 45vmin;
  display: flex;
  align-items: end;
  justify-content: center;
}

.App > .scop > ul{
  margin: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  box-shadow: 10px -10px 10px -10px #000000;
  padding: 12px 0;
}

.App > .scop > ul > li{
  list-style-type: none;
  margin-top: 5px;
  font-family: Helvetica, arial, sans-serif;
  color: rgb(27, 27, 27);
  font-size: 22px;
  font-weight: 400;
}

.App > .scop > a > .bnt {
  padding: 17px 32px;
  background-color: rgb(50, 75, 133);
  border: 0;
  color: #fff;
  margin-top: 55px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.071em;
  cursor: pointer;
  margin-bottom: 150px;

  transition: background-color 0.5s ease-in-out;
}

.App > .scop > a > .bnt:hover {
  background-color: rgb(76, 112, 194);
}

.App > .Infos {
  margin-bottom: 55px;
}

.Extras {
  background-color: rgb(246, 246, 246);
  box-shadow: 10px -10px 10px -12px #000000;
  padding: 35px 20px 75px 20px;
}

.Extras > .title {
  color: rgb(50, 75, 133);
  font-weight: 700;
  font-size: 32px;
  line-height: 1,4;
  margin-bottom: 65px;
}

.Extras > .Descript {
  color: rgb(87, 87, 87);
  line-height: 1.5;
  font-weight: 700;
  font-size: 16px;
  text-align: center;

  margin-bottom: 35px;
}

.Extras > a  {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.Extras > a > .bnt2 {
  background-color: rgb(69, 90, 100);
  border: none;
  border-radius: 4px;
  min-height: 56px;
  padding: 17px 10px;

  align-items: center;
  text-decoration: none;
  display: flex;
  justify-content: center;

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.Extras > a > .bnt2 > .icon {
  height: 20px;
  width: 20px;

  margin-right: 10px;
}

.HomePageFooter {
  background-color: #000;
  color: rgb(150, 150, 150);
  padding-top: 30px;
}

.HomePageFooter > .content {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.HomePageFooter p {
  font-size: 15px;
}

.HomePageFooter > .content > .contate > h2, .HomePageFooter > .content > .socialMedia > h2 {
  color: #fff;
  font-size: 20px;
}

.HomePageFooter > .content > .contate > p > a {
  color: aqua;
}

.HomePageFooter > .content > .socialMedia {
  margin-left: 55px;
}

.HomePageFooter > .content > .socialMedia > div > .social > img {
  height: 30px;
  width: 30px;
}

.HomePageFooter > .reserved {
  padding: 25px 0 35px 0;
  margin: 0;
}

.HomePageFooter > .reserved > span {
  color: red;
  font-size: 19px;
  font-weight: 700;
}

.whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;

  height: 55px;
  width: 55px;

  padding: 7px;
  background-color: #34AF23;
  border-radius: 50px;

  transition: transform 0.5s ease-in-out;
}

.whatsapp:hover {
  transform: scale(1.05);
}

.whatsapp > img {
  height: 40px;
  width: 40px;

  filter: invert(1);
}

.HomePageFooter > .reserved > .editorName {
  color: #000;
}

.whatsapp > img:hover {
  box-shadow: none;
}

@media (max-width: 800px) {
  .App > .scop > ul {
    display: flex;
    flex-direction: column;
  }

  .App > .scop > a > .bnt {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .App > .scop > ul {
    display: flex;
    flex-direction: column;
  }

  .App > .scop > ul > li {
    font-size: 19px;
  }

  .App > .scop > a > .bnt {
    width: 80%;
  }

  .HomePageFooter > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .HomePageFooter > .content > .socialMedia {
    margin: 0;
    padding: 0;
  }
}

